/* overlay.css */

.overlay {
  position: fixed;
  top: 50%;
  left: 50%;
  border-radius: 40px;
  transform: translate(-50%, -50%);
 background-color: aliceblue;
 
  width: 500px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: rgb(68, 66, 66);
  font-size: larger;
}

.overlay-content {
  text-align: center;
}

.close {
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 10px 20px;
  border: none;

  color: rgb(10, 10, 10);
cursor: pointer;
}
